<template>
  <div class="dashboard-editor-container">

    <!--<panel-group @handleSetLineChartData="handleSetLineChartData"/>-->

    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    </el-row>
    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <div id="countryChartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
    </el-row>
  </div>
</template>

<script>
// import * as am4core from '@amcharts/amcharts4/core';
// import * as am4charts from '@amcharts/amcharts4/charts';
// import am4themesAnimated from '@amcharts/amcharts4/themes/animated';
// am4core.useTheme(am4themesAnimated);
import { fetchStatistics, fetchCountryStatistics } from '@/api/statistics';

export default {
  name: 'DashboardAdmin',
  components: {
  },
  // mounted() {
  //   // we will create the chart here
  //
  //   // Create chart
  //   const chart = am4core.create('chartdiv', am4charts.XYChart);
  //
  //   chart.scrollbarX = new am4core.Scrollbar();
  //   // Add Data
  //   chart.data = [
  //     {
  //       'date': '20.03.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '21.03.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '22.03.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '23.03.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '24.03.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '25.03.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '26.03.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '27.03.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '28.03.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '29.03.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '30.03.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '31.03.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '20.04.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '21.04.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '22.04.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '23.04.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '24.04.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '25.04.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '26.04.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '27.04.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '28.04.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '29.04.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '30.04.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     },
  //     {
  //       'date': '20.05.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '21.05.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '22.05.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '23.05.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '24.05.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '25.05.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '26.05.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '27.05.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     }, {
  //       'date': '28.05.2019',
  //       'profile': 1809,
  //       'total': 3000,
  //       'photo': 1809,
  //     },
  //     {
  //       'date': '29.05.2019',
  //       'profile': 1500,
  //       'total': 3000,
  //       'photo': 1500,
  //     }, {
  //       'date': '30.05.2019',
  //       'profile': 1882,
  //       'total': 3000,
  //       'photo': 1882,
  //     },
  //   ];
  //
  //   // Add category axis
  //   const categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
  //   categoryAxis.dataFields.category = 'date';
  //   categoryAxis.renderer.labels.template.rotation = 270;
  //   categoryAxis.renderer.cellStartLocation = 0.2;
  //   categoryAxis.renderer.cellEndLocation = 0.8;
  //
  //   categoryAxis.renderer.minGridDistance = 30;
  //
  //   categoryAxis.numberFormatter.numberFormat = '#';
  //
  //   // Add value axis
  //   chart.yAxes.push(new am4charts.ValueAxis());
  //
  //   const series = chart.series.push(new am4charts.ColumnSeries());
  //   series.name = 'Web Traffic';
  //   series.dataFields.categoryX = 'date';
  //   series.dataFields.valueY = 'total';
  //   series.name = 'total';
  //   series.clustered = false;
  //   // series.columns.template.width = am4core.percent(250);
  //   series.columns.template.fixedWidthGrid = true;
  //   series.columns.template.dx = 20;
  //   series.columns.template.tooltipText = '{name}: [bold]{valueY}[/]\n{categoryX}';
  //   series.columns.template.height = am4core.percent(100);
  //   series.sequencedInterpolation = true;
  //   // Add series
  //   const series2 = chart.series.push(new am4charts.ColumnSeries());
  //   series2.name = 'Web Traffic';
  //   series2.dataFields.categoryX = 'date';
  //   series2.dataFields.valueY = 'profile';
  //   series2.name = 'profile';
  //   // series2.columns.template.width = am4core.percent(100);
  //   series2.columns.template.fixedWidthGrid = true;
  //   series2.columns.template.tooltipText = '{name}: [bold]{valueY}[/]\n{categoryX}';
  //   series2.columns.template.height = am4core.percent(100);
  //   series2.sequencedInterpolation = true;
  //
  //   // Add series
  //   const series3 = chart.series.push(new am4charts.ColumnSeries());
  //   series3.name = 'Web Traffic';
  //   series3.dataFields.categoryX = 'date';
  //   series3.dataFields.valueY = 'photo';
  //   series3.name = 'photo';
  //   // series3.columns.template.width = am4core.percent(100);
  //   series3.columns.template.fixedWidthGrid = true;
  //   series3.columns.template.tooltipText = '{name}: [bold]{valueY}[/]\n{categoryX}';
  //   series3.columns.template.height = am4core.percent(100);
  //   series3.sequencedInterpolation = true;
  //
  //   this.chart = chart;
  // },
  beforeDestroy() {
  },
  data() {
    return {
      statistics: [],
      countryStatistics: [],
    };
  },
  created() {
    this.initView();
  },
  methods: {
    initView() {
      this.fetchStatistics();
      this.fetchCountryStatistics();
    },
    fetchStatistics() {
      fetchStatistics()
        .then(response => {
          this.statistics = response.data;

          // eslint-disable-next-line
                AmCharts.makeChart('chartdiv',
            {
              'type': 'serial',
              'categoryField': 'date',
              'columnWidth': 0.64,
              'dataDateFormat': '',
              'chartScrollbar': {
                'enabled': true,
              },
              'startDuration': 1,
              'accessibleTitle': '',
              'categoryAxis': {
                'gridPosition': 'start',
                'labelRotation': -90,
              },
              'trendLines': [],
              'graphs': [
                {
                  'balloonText': '[[title]]:[[value]] of [[category]]:[[value]]',
                  'clustered': false,
                  'fillAlphas': 1,
                  'id': 'Total',
                  'title': 'Total',
                  'type': 'column',
                  'valueField': 'total',
                },
                {
                  'balloonText': '[[title]]:[[value]] of [[category]]:[[value]]',
                  'columnWidth': 0.48,
                  'fillAlphas': 1,
                  'id': 'Photo',
                  'title': 'Photo Update',
                  'type': 'column',
                  'valueField': 'Photo',
                },
                {
                  'balloonText': '[[title]]:[[value]] of [[category]]:[[value]]',
                  'columnWidth': 0.52,
                  'fillAlphas': 1,
                  'id': 'Profile',
                  'title': 'Profile Update',
                  'type': 'column',
                  'valueField': 'Profile',
                },
              ],
              'guides': [],
              'valueAxes': [
                {
                  'id': 'ValueAxis-1',
                  'title': 'Updated Profiles',
                },
              ],
              'allLabels': [],
              'balloon': {},
              'legend': {
                'enabled': true,
                'useGraphSettings': true,
              },
              'titles': [
                {
                  'id': 'Title-1',
                  'size': 15,
                  'text': 'Statistics per Day',
                },
              ],
              'dataProvider': this.statistics,
              // [
              //   {
              //     'total': 13,
              //     'Profile': 5,
              //     'Photo': 8,
              //     'date': '20.03.09',
              //   },
              // ],
            }
          );
          // Set tagsview title
        })
        .catch(err => {
          console.log(err);
        });
    },
    fetchCountryStatistics() {
      fetchCountryStatistics()
        .then(response => {
          this.countryStatistics = response.data;

          // eslint-disable-next-line
                AmCharts.makeChart('countryChartdiv',
            {
              'type': 'serial',
              'categoryField': 'country',
              'startDuration': 1,

              'categoryAxis': {
                'gridPosition': 'start',
                'labelRotation': -90,
              },
              'chartCursor': {
                'enabled': true,
              },
              'chartScrollbar': {
                'enabled': true,
              },
              'trendLines': [],
              'graphs': [
                {
                  'fillAlphas': 1,
                  'id': 'AmGraph-1',
                  'title': 'Total',
                  'type': 'column',
                  'valueField': 'total',
                },
              ],
              'guides': [],
              'valueAxes': [
                {
                  'id': 'ValueAxis-1',
                  'title': 'Profiles updated',
                },
              ],
              'allLabels': [],
              'balloon': {},
              'titles': [
                {
                  'id': 'Title-1',
                  'size': 15,
                  'text': 'Statistics per Country',
                },
              ],
              'dataProvider': this.countryStatistics,
            }
          );
          // Set tagsview title
        })
        .catch(err => {
          console.log(err);
        });
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}
</style>
