<template>
    <div class="container">
        <hr>
        <el-row>
            <el-col :span="6">
                <h3>Users</h3>
                <el-table v-loading="listLoading" :data="users" border fit highlight-current-row style="width: 100%">
                    <el-table-column align="center" label="ID" width="80">
                        <template slot-scope="scope">
                            <span>{{ scope.row.id }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column width="120px" align="center" label="Name">
                        <template slot-scope="scope">
                            <span>{{ scope.row.name }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column width="180px" align="center" label="Actions">
                        <template slot-scope="scope">
                            <el-button type="primary" size="small" icon="el-icon-edit"
                                       @click="getConversation(scope.row.id)">Open Conversation
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <el-col :span="6">
                <h3>Conversations</h3>
                <el-table v-loading="listLoading" :data="conversations" border fit highlight-current-row
                          style="width: 100%">
                    <el-table-column align="center" label="ID" width="80">
                        <template slot-scope="scope">
                            <span>{{ scope.row.id }}</span>
                        </template>
                    </el-table-column>
                    <el-table-column width="120px" align="center" label="Name">
                        <template slot-scope="scope">
                            <span>{{ scope.row.user.name }}</span>
                        </template>
                    </el-table-column>

                    <el-table-column align="center" label="Actions" width="120">
                        <template slot-scope="scope">
                            <el-button type="primary" size="small" icon="el-icon-edit" @click="openChat(scope.row.id)">
                                Open
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
            <div v-for="(conversation) in conversations" v-bind:key="conversation.id">
                <el-col :span="6" v-show="active_conversation===conversation.id">
                    <el-row v-for="(message) in messages[conversation.id]" v-bind:key="message.id"
                            style="border: 1px solid red;margin: 5px;">
                        <div style="width: 200px;float:right; background-color: #3a8ee6;color: white;font-weight: bold;"
                             v-if="message.user.id === me">
                            text:{{message.body}}<br>
                            <p style="margin: 0;" v-if="message.type==0">type: text</p>
                            <p style="margin: 0;" v-if="message.files.length>0">Files:{{message.files.length}}</p>
                            <p style="margin: 0;">Related_type:{{message.related_type}}</p>
                            <p style="margin: 0;" v-if="message.related_cv_id">Related_cv:{{message.related_cv_id}}</p>
                            <p style="margin: 0;" v-if="message.related_job_id">Related_job:{{message.related_job_id}}</p>
                            <!--user:{{message.user}}<br>-->
                            <!--me:{{me}}<br>-->
                        </div>
                        <div style="width: 200px;float:left;background-color: #1c1c1c;color: white;font-weight: bold;"
                             v-if="message.user.id !== me">
                            text:{{message.body}}<br>
                            <p style="margin: 0;" v-if="message.type==0">type: text</p>
                            <p style="margin: 0;" v-if="message.files.length>0">Files:{{message.files.length}}</p>
                            <p style="margin: 0;">Related_type:{{message.related_type}}</p>
                            <p style="margin: 0;" v-if="message.related_cv_id">Related_cv:{{message.related_cv_id}}</p>
                            <p style="margin: 0;" v-if="message.related_job_id">Related_job:{{message.related_job_id}}</p>
                            <!--user:{{message.user}}<br>-->
                            <!--me:{{me}}<br>-->
                        </div>
                    </el-row>
                    <el-input v-model="textMessage" @keyup.enter.native="sendMessage"></el-input>
                    <el-upload
                            class="upload-demo"
                            ref="upload"
                            action=""
                            :auto-upload="false"
                            :on-preview="handlePreview"
                            :on-remove="handleRemove"
                            :before-remove="beforeRemove"
                            :on-exceed="handleExceed"
                            :on-change="addAttachment"
                            multiple
                            :limit="fileLimit"
                            :file-list="fileList[conversation.id]"
                            v-model="attachments[conversation.id]"
                    >
                        <el-button slot="trigger" size="small" type="primary">select file</el-button>
                        <!--<el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">upload to server</el-button>-->
                        <!--<div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>-->
                    </el-upload>
                    <!--<el-upload-->
                    <!--class="upload-demo"-->
                    <!--:on-preview="handlePreview"-->
                    <!--:on-remove="handleRemove"-->
                    <!--:before-remove="beforeRemove"-->
                    <!--multiple-->
                    <!--:limit="3"-->
                    <!--:on-exceed="handleExceed"-->
                    <!--:file-list="fileList">-->
                    <!--<el-button size="small" type="primary">Click to upload</el-button>-->
                    <!--<div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>-->
                    <!--</el-upload>-->
                </el-col>
            </div>
        </el-row>
    </div>
</template>

<script>
import { getConversations, getMessages, message, getConversation } from '@/api/chats';
import { getUsers } from '@/api/users';
import Vue from 'vue';

// import Echo from 'laravel-echo';

export default {
  name: 'ChatComponent',
  directives: { Vue },
  data() {
    return {
      me: this.$store.getters.id,
      users: [],
      conversations: [],
      messages: [],
      textMessage: '',
      fileList: [],
      fileLimit: 5,
      attachments: [],
      active_conversation: 0,
      listLoading: true,
    };
  },
  mounted() {
  },
  created() {
    this.getUsers();
    this.getConversations();
  },
  methods: {
    addAttachment(file, fileList) {
      this.attachments[this.active_conversation] = fileList.map(function (currentVal, index, array) {
        return currentVal.raw;
      });
      // console.log(file, fileList);
    },
    handleRemove(file, fileList) {
      this.attachments[this.active_conversation] = fileList.map(function (currentVal, index, array) {
        return currentVal.raw;
      });
      // console.log(file, fileList);
    },
    handlePreview(file) {
      // console.log(file);
    },
    handleExceed(files, fileList) {
      this.$message.warning(`The limit is ` + this.fileLimit + `, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
    },
    beforeRemove(file, fileList) {
      return this.$confirm(`Cancel the transfer of ${file.name} ?`);
    },
    getUsers() {
      this.listLoading = true;
      getUsers().then(response => {
        this.users = response.data;
      });
    },
    getConversation(userId) {
      const datas = [
        {
          user_id: userId,
          cv_id: Math.floor(Math.random() * 2) + 1,
        },
        {
          user_id: userId,
          job_id: Math.floor(Math.random() * 2) + 1,
        },
      ];
      getConversation(datas[Math.floor(Math.random() * 2)]).then(response => {
        if (response.data.new) {
          this.conversations.push(response.data);
          this.listenChannel(response.data.id);
        }
        this.openChat(response.data.id);
      });
    },
    listenChannel(conversationId) {
      window.Echo.channel('conversation_' + conversationId).listen('Message', ({ message }) => {
        this.messages[message.data.conversation].push(message.data);
        Vue.set(this.messages, message.data.conversation, this.messages[message.data.conversation]);
        // this.message = '';
      });
    },
    getConversations() {
      this.listLoading = true;
      getConversations().then(response => {
        // this.users = response.data;
        for (var index in response.data) {
          this.conversations.push(response.data[index]);
          this.messages[response.data[index].id] = [];
          this.fileList[response.data[index].id] = [];
          this.attachments[response.data[index].id] = [];
          this.listenChannel(response.data[index].id);
        }
        this.listLoading = false;
      });
    },
    connect() {
    },
    openChat(conversationId) {
      this.active_conversation = conversationId;
      this.getMessages(conversationId);
    },
    getMessages(conversationId) {
      getMessages(conversationId).then(response => {
        Vue.set(this.messages, this.active_conversation, response.data);
      });
    },
    sendMessage() {
      const app = this;
      var formData = new FormData();
      for (const i in this.attachments[this.active_conversation]) {
        formData.append('attachments[]', this.attachments[this.active_conversation][i]);
      }
      formData.append('body', this.textMessage);
      formData.append('conversation_id', this.active_conversation);
      // formData.append('type', 0);
      message(formData).then(function () {
        app.attachments[app.active_conversation] = [];
        app.fileList[app.active_conversation] = [];
        app.textMessage = '';
      });
    },
  },
};
</script>

<style scoped>

</style>
