<template>
    <ChatComponent/>
</template>

<script>
// import { fetchList } from '@/api/chats';
import ChatComponent from './ChatComponent';

// import axios from 'axios'; // Secondary package based on el-pagination

export default {
  name: 'Chat',
  components: { ChatComponent },
  filters: { },
  props: { },
  data() {
    return {
      appLocale: window.appLocale,
      list: null,
      // total: 0,
      // listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        search: '',
        order_by: 'id',
        order: 'asc',
      },
    };
  },
  created() {
    // this.getList();
  },
  methods: {
    // handleSelectionChange(val) {
    //   this.multipleSelection = val.map(function callback(currentValue, index, array) {
    //     return currentValue.id;
    //   });
    // },
    handleFilter() {
      this.listQuery.page = 1;
      // this.getList();
    },
    getList() {
      // this.listLoading = true;
      // fetchList(this.listQuery).then(response => {
      //   this.list = response.data.items;
      //   this.total = response.data.total;
      //   this.listLoading = false;
      // });
    },
  },
};
</script>

<style scoped>
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
</style>
